$width: 32em
$col: 4em
$padding: 0.1em
$margin: 1.7em
$border-color: #777
$border: $border-color 1px dotted

*
  margin: 0
  padding: 0

body
  color: black
  background-color: #bbb
  font: 16px/1.7 'Helvetica Neue', arial, sans-serif
  font-weight: 200
  padding: 0

header, nav, article, footer
  display: block

input, textarea, pre, code
  font-family: Menlo, Monaco, Consolas, sans-serif

pre
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word

h1, h2, h3, h4, h5
  color: #333333
  font-size: 1em

img
  border: solid 1px #777

header,
nav,
article,
footer,
#home
  width: $width
  margin: 0 auto

ul
  list-style: inside
  li
    list-style-type: square
  &.years li
    list-style-type: none

article
  p, ul, ol, header
    margin-bottom: 1.7em
  p, ul li
    color: #444

ul.years
  ul.months, ul.posts, a.title, span.year, span.month, span.day
    display: block
    float: left
  ul.months
    width: $width - $col
    margin-bottom: 1.7em
    border-bottom: $border
    ul.posts
      width: $width - ($col * 2)
      padding-bottom: 0.85em
      margin-bottom: 0.85em
      border-bottom: $border
      border-bottom-color: $border-color * 1.2
      a.title
        width: $width - ($col * 3)
  span.year, span.month, span.day
    color: #777
    width: $col

ul.years li:last-child ul.months, ul.months li:last-child ul.posts
  border-bottom: none

header h1 a
  display: block

article header h1 a, ul.posts li a.title
  color: #197a9f
  font-weight: bold

a
  color: #fe4892
  text-decoration: none
  &:hover
    background-color: #ccc

p code
  color: #fff

pre
  padding: 0.85em 0
  color: #ccc

code pre
  background-color: rgba(255,255,255,0.12)

pre, input[type=text], textarea
  background-color: transparent

body > header,
nav,
article,
footer,
#home
  border-top: $border

body > header
  margin-top: $margin
  h1 a
    padding-bottom: $margin * 2

article,
footer
  padding-bottom: $margin
  margin-bottom: $margin

body > footer
  clear: both
  color: #555
  span
    font-size: 0.7em
    padding-left: $padding / 0.7
    padding-right: $padding / 0.7

header h1 a,
article p,
article li,
code pre
  padding-left: $padding
  padding-right: $padding

nav
  overflow: hidden
  a
    display: block
    float: left
    font-size: 0.8em
    padding: 0 $padding / 0.8
    padding-bottom: ($margin * 2) / 0.8
    margin-right: (0.6em - $padding) / 0.8
    line-height: 2.125
    color: #666
    font-weight: bold
