$width: 32em
$col: 4em
$padding: 0.1em
$margin: 1.7em
$border-color: #777
$border: $border-color 1px dotted
$color: #444
$background: #bbb

@mixin radius($rad: 3px)
  -webkit-border-radius: $rad
  -moz-border-radius: $rad
  -o-border-radius: $rad
  border-radius: $rad

*
  margin: 0
  padding: 0

body
  color: black
  background-color: $background
  font: 16px/1.7 'Helvetica Neue', arial, sans-serif
  font-weight: 200
  padding: 0

header, nav, article, footer
  display: block

input, textarea, pre, code
  font-family: Menlo, Monaco, Consolas, sans-serif

pre
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word

h1, h2, h3, h4, h5
  color: #333333
  font-size: 1em

img
  border: solid 1px #777

header,
nav,
article,
footer,
#home
  width: $width
  margin: 0 auto

ul
  list-style: inside
  li
    list-style-type: square
  &.years li
    list-style-type: none

article
  p, ul, ol, header, pre
    margin-bottom: $margin
  p, ul li
    color: $color

ul.years
  li
    display: block
    overflow: hidden
  ul.months, a.title, span.year, span.month, span.day
    display: block
    float: left
  ul.months
    width: $width - $col
    border-bottom: $border
    ul.posts
      margin-left: $col
      padding-left: $padding
      padding-bottom: $margin
      border-bottom: $border
      border-bottom-color: $border-color * 1.2
      a.title
        float: none
        margin-left: $col
        padding-left: $padding
  span.year, span.month, span.day
    color: #777
    width: $col - $padding
    padding-left: $padding

ul.years li:last-child ul.months, ul.months li:last-child ul.posts
  border-bottom: none

header h1 a
  display: block

article header h1 a, ul.posts li a.title
  color: #197a9f
  font-weight: bold

a
  color: #E13D87
  text-decoration: none
  &:hover
    background-color: #ccc

code
  color: $color - #111
  font-size: 0.8em
  background-color: #bbb - #111
  @include radius
  padding: 0 0.3em
  p &
    display: inline-block
  pre &
    display: block

code pre
  background-color: rgba(255,255,255,0.12)

pre, input[type=text], textarea
  background-color: transparent

body > header,
nav,
article,
footer,
#home
  border-top: $border

body > header
  margin-top: $margin
  h1 a
    padding-bottom: $margin * 2

article,
footer
  padding-bottom: $margin
  margin-bottom: $margin
#home
  margin-bottom: $margin

body > footer
  clear: both
  color: #555
  span
    font-size: 0.7em
    padding-left: $padding / 0.7
    padding-right: $padding / 0.7

header h1 a,
article p,
article li,
code pre
  padding-left: $padding
  padding-right: $padding

nav
  overflow: hidden
  a
    display: block
    float: left
    width: ($col - $padding) / 0.8
    font-size: 0.8em
    padding-left: $padding / 0.8
    padding-bottom: ($margin * 2) / 0.8
    line-height: 2.125
    color: #666
    font-weight: bold
